body { background-color: #333; margin: 30px }
* { color: #ccc; font-size: 1.2em }
a { color: #6A8759 }

h1 { font-size: 1.7em; margin: 0 }
#snail { margin-top: 50px; margin-bottom: 0 }
#author { font-size: 0.8em; margin-top: 0 }
